#n1_190 {
  background: white;
  width: 100%;
  height: 100px;
}

#n1_192 {
  /* font-family: 'Gowun';
  font-style: normal;
  font-weight: bold; */
	width: 100%;
	height: 1100px;
	background-color: #D5DFEF;
}

#n1_193 {
  width: auto;
  height: auto;
}

#n1_197 {
  float: left;
  margin: 0px 170px 0px 0px;
  text-align: center;
  background: rgb(255, 255, 255);
  width: 400px;
  height: 500px;
  box-shadow: 3px 13px 3px rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 30px 30px;
}

#n1_198 {
  margin: 20px 0px 15px 0px;
  font-size: 45px;
}

#n1_199 {
  padding: 60px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  position: fiexd;
  background: rgb(175, 193, 226);
  width: 400px;
  height: 360px;
  border-radius: 0px 0px 30px 30px;
}

#n1_200 {
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: 970px;
  margin-top: 130px;
}

#n1_201 {
  margin : 0px 25px 50px 25px;
  background: rgb(255, 255, 255);
  width: 350px;
  height: 130px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#n1_202 {
  float: left;
  margin: 40px 0px 0px 15px;
  font-size: 35px;
}

#n1_203 {
  float :left;
  margin: 22px 0px 25px 25px;
  width: 75px;
  height: 75px;
}

#n1_205 {
  margin : 0px 25px 50px 25px;
  background: rgb(255, 255, 255);
  width: 350px;
  height: 130px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#n1_206 {
  float: left;
  margin: 40px 0px 0px 10px;
  font-size: 35px;
}

#n1_207 {
  margin: 22px 0px 25px 25px;
  float: left;
  height: 75px;
  width: 75px;
}

#n1_209 {
  float: left;
  text-align: center;
  background: rgb(255, 255, 255);
  width: 400px;
  height: 500px;
  box-shadow: 3px 13px 3px rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 30px 30px;
}

#n1_210 {
  margin: 20px 0px 15px 0px;
  font-size: 45px;
}

#n1_211 {
  padding: 60px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  position: fiexd;
  background: rgb(175, 193, 226);
  width: 400px;
  height: 360px;
  border-radius: 0px 0px 30px 30px;
}

#n1_213 {
  margin : 0px 25px 50px 25px;
  background: rgb(255, 255, 255);
  width: 350px;
  height: 130px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#n1_214 {
  float: left;
  margin: 40px 0px 0px 45px;
  font-size: 35px;
}

#n1_215 {
  float: left;
  margin: 22px 0px 25px 25px;
  width: 75px;
  height: 75px;
}

#n1_217 {
  margin : 0px 25px 50px 25px;
  background: rgb(255, 255, 255);
  width: 350px;
  height: 130px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#n1_218 {
  float: left;
  margin: 40px 0px 0px 45px;
  font-size: 35px;
}

#n1_219 {
  float: left;
  margin: 22px 0px 25px 25px;
  width: 75px;
  height: 75px;
}