#n1_192 {
	width: 100%;
	height: 100vh;
	background-color: rgb(209, 228, 255);
}

/* Rectangle 1 */
#n1_194 {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 105, 255) 0px 0px 0px 2px inset;
  width: 100%;
  height: 150px;
}

#n1_400 {
  float: left;
  margin: 20px 29px 40px 0px;
  font-family: Roboto;
  font-size: 55px;
  height: 64px;
}

#n1_401 {
  float: left;
  margin: 0px 5px 25px 10px;
  background-image: url("https://s3-alpha-sig.figma.com/img/a234/ca60/3346f1f33f6812890e12b5af1c601dc4?Expires=1638144000&Signature=K8oi9BrU~rBPX8AWyhHoFVvfZsHVmlx11ohkQGJngeRwIdkA9evUdB79sstLz-XjwBmJX3olCypPhCfWm55wuX4IGu4Ayzz-dJMj9GsjC33VviEW~rhyLS3eGTRp1sS0r3gtO1w9vE6B1J0-gPLjDKtetJVXF4IhVCELFw3JQJatJJgku45FzHfdv0WX35ItXxFhJ82GC3OALxC9Q~1glJgWvsG7Xxw4PhRa7j3KxeH0n1QQ1LT~IigZkGWyMF3acnzy3KeLjFl2hlLM1mmDZZIDyPfeJY9LIZAmeNMc8lrb1rFU5Drw-olFcB60GuJhWd-dSs~FMfagNzW~tVt2lg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

#n11_503 {
  float: left;
  margin: 10px 0px 0px 10px;
  width: 404px;
  height: 750px;
}

#n11_504 {
  float: left;
  margin: 10px 10px 0px 10px;
  width: 181px;
  height: 632px;
}

#n11_505 {
  float: left;
  margin: 10px 10px 0px 10px;
  width: 181px;
  height: 632px;
}

/* Rectangle 11 */
#n1_403 {
  margin: 15px 0px 0px 15px;
  padding: 10px 0px 0px 0px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  width: 150px;
  height: 70px;
}

/* 1조 */
#n1_410 {
  margin: 0px 0px 0px 37px;
  font-family: Roboto;
  font-size: 55px;
  height: 64px;
}

/* Rectangle 14 */
#n1_447 {
  float: left;
  margin: 0px 0px 0px 25px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1438px;
  width: 180px;
  top: 993px;
  height: 60px;
}

/* 메인화면 */
#n1_449 {
  margin: 10px 0px 0px 20px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 148px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1454px;
  top: 999px;
}


/* Rectangle 15 */
#n1_448 {
  margin: 0px 0px 0px 50px;
  float: left;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1655px;
  width: 180px;
  top: 993px;
  height: 60px;
}

/* 수정완료 */
#n1_450 {
  margin: 10px 0px 0px 20px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 148px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
}

#n1_462 {
  float: left;
}

#n12_1 {
  float: left;
  width: 100%;
  height: 770px;
}

#n1_100 {
  float: left;
  margin: 10px 15px 0px 25px;
  padding: 10px 0px 0px 0px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 85px;
  top: 271px;
  height: 70px;
}

/* 1조 */
#n1_101 {
  margin: 0px 0px 0px 60px;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 82px;
  transform: translate(0px, 0px);
  line-height: 64.4531px;
  height: 64px;
}

#n1_102 {
  float: left;
  margin: 10px 0px 0px 35px;
  padding: 10px 0px 0px 0px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 85px;
  width: 150px;
  top: 271px;
  height: 70px;
}

#n1_462 {
  width: 100%;
  height: 100px;
}

/* 1조 */
#n1_103 {
  margin: 0px 0px 0px 60px;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 82px;
  transform: translate(0px, 0px);
  line-height: 64.4531px;
  height: 64px;
}

#n1_402 {
  float: left;
  width: 100%;
  height: 100px;
}

	/* Rectangle 11 */
  #n1_436 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 85px;
    width: 150px;
    top: 635px;
    height: 70px;
  }

  /* 5조 */
  #n1_437 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 82px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 119px;
    top: 638px;
  }


  /* Rectangle 11 */
  #n1_439 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 85px;
    width: 150px;
    top: 726px;
    height: 70px;
  }

  /* 6조 */
  #n1_440 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 82px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 119px;
    top: 729px;
  }


  /* Rectangle 11 */
  #n1_442 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 85px;
    width: 150px;
    top: 817px;
    height: 70px;
  }

  /* 7조 */
  #n1_443 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 82px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 119px;
    top: 820px;
  }


  /* Rectangle 11 */
  #n1_433 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 296px;
    width: 150px;
    top: 274px;
    height: 70px;
  }

  /* 8조 */
  #n1_434 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 82px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 330px;
    top: 277px;
  }


  /* Rectangle 11 */
  #n1_417 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 85px;
    width: 150px;
    top: 453px;
    height: 70px;
  }

  /* 3조 */
  #n1_418 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 82px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 119px;
    top: 456px;
  }


  /* Rectangle 11 */
  #n1_420 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 85px;
    width: 150px;
    top: 544px;
    height: 70px;
  }

  /* 4조 */
  #n1_421 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 82px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 119px;
    top: 547px;
  }


  /* Rectangle 11 */
  #n1_423 {
    background: rgb(255, 255, 255);
    left: 205px;
    width: 150px;
    top: 908px;
    height: 70px;
  }

  /* Rectangle 12 */
  #n1_425 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 205px;
    width: 150px;
    top: 908px;
    height: 70px;
  }

  /* + */
  #n1_424 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 32px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 264px;
    top: 911px;
  }


  /* Rectangle 11 */
  #n1_427 {
    background: rgb(255, 255, 255);
    left: 205px;
    width: 150px;
    top: 999px;
    height: 70px;
  }

  /* Rectangle 12 */
  #n1_428 {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
    left: 205px;
    width: 150px;
    top: 999px;
    height: 70px;
  }

  /* - */
  #n1_429 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    justify-content: flex-start;
    width: 16px;
    transform: translate(0px, 0px);
    line-height: 64.4531px;
    height: 64px;
    left: 272px;
    top: 1002px;
  }

/* 수정박스 */
#n1_431 {
  margin: 10px 500px 0px 0px;
  float: left;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 486px;
  width: 1350px;
  top: 250px;
  height: 750px;
}

/* 1조 */
#n1_445 {
  float: left;
  margin: 0px 150px 0px 10px;
  font-family: Roboto;
  font-size: 55px;
}

/* 보유현금 */
#n1_463 {
  float: left;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 203px;
  transform: translate(0px, 0px);
  line-height: 64.4531px;
  height: 64px;
  left: 757px;
  top: 271px;
}

/* 보유주식 */
#n1_464 {
  margin: 0px 0px 0px 170px;
  float: left;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 203px;
  transform: translate(0px, 0px);
  line-height: 64.4531px;
  height: 64px;
  left: 1400px;
  top: 271px;
}



/* Rectangle 14 */
#n1_456 {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1439px;
  width: 180px;
  top: 1009px;
  height: 60px;
}

/* 메인화면 */
#n1_457 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 148px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1455px;
  top: 1015px;
}

#n1_455 {
  float: left;
}

#n1_458 {
  float: left;
}

/* Rectangle 15 */
#n1_459 {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1656px;
  width: 180px;
  top: 1009px;
  height: 60px;
}

/* 수정완료 */
#n1_460 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 148px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1672px;
  top: 1015px;
}

#n1_461 {
  width: 100%;
  height: 60px;
}

#n1_465 {
  margin: 0px 0px 0px 60px;
  float: left;
}

/* 주식_생명 */
#n1_466 {
  background-image: url("https://s3-alpha-sig.figma.com/img/b5a2/c70e/4acf184f0d8b66e02fa216744ec80138?Expires=1638144000&Signature=HAzxSnzjZItI2A3qv2NUdmAYebUgRo2240hZcLcVpqekNcwzxABraZgRi9lsRWXZEUq2iRO-jWOwUpPdnXahA~tra34hKxt5GiBpRup8nn6fmfpoWMS7Ybci5N1hW0doLC9RdDjKN4gwna6aMg8yGaKem1b3j6ZbozCvMdhGjod0o7eTAN099qJgneDc76kW1tT3Y-7nzDMrTDncQjb8WITIJJ~Wl7J0K-rhRCXRxxeiZoArJ5xB9CUO-GrEjsmrr-t~L-oXC3BoHBaq5Oi8oPpOf6tux~QhilBX3xqw4yUPmfgbh-~IBP64XVYAjz40YEPA9j7ZcPBq5tGazy7vJg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 1201px;
  width: 100px;
  top: 354px;
  height: 100px;
}

/* 주식_방송 */
#n1_467 {
  background-image: url("https://s3-alpha-sig.figma.com/img/c396/c4c2/f9cce03fd37d8ab87141549642b76040?Expires=1638144000&Signature=TLzT3lilyQP9zZ7qBhLUOM6zfADBrVEd3ZuVSjoFS9G~lBoBKl8R8QqfEjU5OsKFdFzQJJehknbMx0JO2dOpTTH2c6zFGjfDn5hs8FPflt~AQ26sSnLh7aLT9dygS6mRC9hPoJdbKyr7YSq3~2hAaBlJqg6bVDURs3vo1apElHnpYWJbqWYat6ecy0EDJs1Z5rPUyl-vGFkrXBDQJ8s72M7RYXLCDGD3Gi5sD-9v1etoMu3N3Qvdnbl-j8jB3DXBPmmMFLoSDqlsetK5QRKS85KswDw8c1Z51lL4F-h777ac3nqthc7V8e3VwnwG2f149cI0tSR78~~1Bn1d2AAWVg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 1201px;
  width: 100px;
  top: 862px;
  height: 100px;
}

/* 주식_건설 */
#n1_468 {
  background-image: url("https://s3-alpha-sig.figma.com/img/155d/9f73/0dfb1accef40a2e00b8ad6db84156c83?Expires=1638144000&Signature=It3sfrPrLcwucAvnsefQis2zFh8knFtKoHwKch2KuOfDzv5l2rFy~tkGvkknUtNDr3GoN6qqeeitw0~4nLjIWiRV2sA0jd8Hs-fHqUcenc3DryfOh7xse0EkYz58H9wP4J3QlDPwN4bp~3kxgdxj-KATYp0HY9mVQJXCkGjl3Xq6o30zk7XDzTLdtMm7zz2aNGZ8A~W5PDBnKzRVB~da2LIr~mSoviI1DR08-1Olf8EUWSbtUTHHyINw2fnyaz2se~xiK~wS~b5Jf2X0W3b0~EclxazYxuBgprqz1URg7gJWBdC00CfRqDlyuiKhQl9ujVDDFXdEXAvB3I1kUXDa-w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 1201px;
  width: 100px;
  top: 608px;
  height: 100.175px;
}

/* 주식_전자 */
#n1_469 {
  background-image: url("https://s3-alpha-sig.figma.com/img/3071/be1a/922f8cf1bbcbbfb09fa397aa366de193?Expires=1638144000&Signature=hIRJHrA26eWdch7lNjCTWlm6~AK6FSYWeH8nxH0P6A~osvQcN8uxGvGRZVUvv28sFcqOhp8PkaT7b6ivIYLcD2XbyIcI4-1z-xfJC34tCwa~YBjhTzLWQk1BNZ-n5zn-LjRMhZdz0izb-XVuNAnTij-LB-7omD7BuiNhAB6Nfczr5t~hwTWtcwmQk0mNB0JK3UuXKdATqNv10F9L3N7hfAYKMGJ3yUJyzCUop-6Whjpo9wDMJq-jxQUrPcneDTc6dfvPxzLqaIDQvBZ8K~3qByLxGKtjKpm4UNQAaxj6KBAgX47vN7xuCaWTEQFQK1DucJoqscbpH3pSTtzLbqq85w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 1201px;
  width: 100px;
  top: 481px;
  height: 100px;
}

/* 주식_식품 */
#n1_470 {
  background-image: url("https://s3-alpha-sig.figma.com/img/d956/57a8/17f992625d5099033092939b4cce2925?Expires=1638144000&Signature=X6K7uGVR5esnlosatVB6hP7~DoRy2gq7xmeggnpLPMmeC1z2FIS~UFH~HJpzMdfNe-Ca5bZuMWidl9AC7yqMe-aubdmBtq9YJU1q2eLITNDFPdb-vMY3AWtfaFNrK8uhXaDxSg7DUUbrjzLMcKJgPH--AYBB~QYrBMq5Ynh2wyS2Ql7OaOqxOzc5Syxi1vVDBU9h8D-d8gMog9FWIKkcdPKQp4wSDHB5IkgDpIMdWf0ag65JEQmcYZGgdjIsiS6K7xdbEqmHe4OvF-GMm~ZDz-nPKhTpmvJmVnV~uvlASv04YGIqYQQj~xrTiwULYfuEJJejGwE9JlNF-kqcXNrPAQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 1201px;
  width: 100px;
  top: 735px;
  height: 100px;
}

#n1_476 {
  padding: 20px 50px 0px 50px;
  float: left;
}

/* 생명 */
#n1_477 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 74px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1327px;
  top: 380px;
}

/* 전자 */
#n1_478 {
  margin-top: 60px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 74px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1327px;
  top: 507px;
}

/* 건축 */
#n1_479 {
  margin-top: 60px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 74px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1327px;
  top: 634px;
}

/* 식품 */
#n1_480 {
  margin-top: 55px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 74px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1327px;
  top: 761px;
}

/* 방송 */
#n1_481 {
  margin-top: 50px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 74px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1327px;
  top: 888px;
}


/* Rectangle 16 */
#n1_483 {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 703px;
  width: 314px;
  top: 368px;
  height: 85px;
}

/* 100,000,000 */
#n1_482 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 218px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 751px;
  top: 387px;
}

#n1_484 {
  float: left;
}

#n1_485 {
  float: left;
  height: 600px;
}

/* Rectangle 16 */
#n1_486 {
  margin-top: 5px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1462px;
  width: 314px;
  top: 361px;
  height: 85px;
}

/* 100,000,000 */
#n1_487 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 218px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1510px;
  top: 380px;
}

/* Rectangle 16 */
#n1_498 {
  margin-top: 20px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1462px;
  width: 314px;
  top: 877px;
  height: 85px;
}

/* 100,000,000 */
#n1_499 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 218px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1510px;
  top: 896px;
}


/* Rectangle 16 */
#n1_495 {
  margin-top: 20px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1462px;
  width: 314px;
  top: 742px;
  height: 85px;
}

/* 100,000,000 */
#n1_496 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 218px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1510px;
  top: 761px;
}


/* Rectangle 16 */
#n1_489 {
  margin-top: 20px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1462px;
  width: 314px;
  top: 488px;
  height: 85px;
}

/* 100,000,000 */
#n1_490 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 218px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1510px;
  top: 506px;
}

#n1_491 {
  margin: 0px 0px 0px 240px;
  float: left;
}

/* Rectangle 16 */
#n1_492 {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
  left: 1462px;
  width: 314px;
  top: 620px;
  height: 85px;
}

/* 100,000,000 */
#n1_493 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-start;
  width: 218px;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  height: 47px;
  left: 1510px;
  top: 639px;
}

#n1_1 {
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 80px;
}