#n3_190 {
  background: white;
  width: 100%;
  height: 100px;
}

#n3_192 {
	width: 100%;
	height: 1100px;
	background-color: #D5DFEF;
}

#n3_193 {
  width: auto;
  height: auto;
}

#n3_400 {
  margin: 13px 29px 0px 0px;
  float: left;
  font-size: 45px;
}

#n3_401 {
  float: left;
  margin: 0px 5px 25px 10px;
  width: 75px;
  height: 75px;
}

#n3_402 {
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 100px;
}

#n31_503 {
  float: left;
  margin: 10px 0px 0px 10px;
  width: 350px;
  height: 600px;
}

#n31_504 {
  float: left;
  margin: 10px 10px 0px 10px;
  width: 150px;
  height: 500px;
}

#n31_505 {
  float: left;
  margin: 10px 10px 0px 10px;
  width: 150px;
  height: 500px;
}

/* Rectangle 11 */
#n3_403 {
  margin: 15px 0px 0px 15px;
  padding: 10px 0px 0px 0px;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 55px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px;
}

#n3_410 {
  margin: 5px 0px 0px 38px;
  font-size: 35px;
  height: 64px;
}

#n32_1 {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  height: 630px;
}

#n3_100 {
  float: left;
  margin: 10px 50px 0px 50px;
  background: rgb(255, 255, 255);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px;
  height: 70px;
  width: 70px;
}

#n3_101 {
  margin: 12px 0px 0px 22px;
  font-size: 40px;
  vertical-align: middle;
  justify-content: flex-start;
}

#n3_103 {
  margin: 12px 0px 0px 25px;
  font-size: 40px;
  vertical-align: middle;
  justify-content: flex-start;
}

#n3_431 {
  margin: 10px 0px 0px 20px;
  float: left;
  background: rgb(255, 255, 255);
  width: 900px;
  height: 600px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px; 
}

#n3_445 {
  float: left;
  margin: 0px 80px 0px 60px;
  font-size: 40px;
}

#n3_463 {
  float: left;
  margin: 0px 0px 0px 16px;
  font-size: 40px;
  vertical-align: middle;
  justify-content: flex-start;
}

#n3_464 {
  margin: 0px 0px 0px 240px;
  float: left;
  font-size: 40px;
  vertical-align: middle;
  justify-content: flex-start;
}

#n3_465 {
  margin: 0px 0px 0px 60px;
  width: 75px;
  float: left;
}

#n3_466 {
  width: 75px;
  height: 75px;
}

#n3_467 {
  margin: 27px 0px 0px 0px;
  width: 75px;
  height: 75px;
}

#n3_476 {
  padding: 20px 20px 0px 20px;
  float: left;
}

/* 생명 */
#n3_477 {
  font-size: 35px;
  vertical-align: middle;
  justify-content: flex-start;
}

#n3_478 {
  font-size: 35px;
  vertical-align: middle;
  justify-content: flex-start;
  margin-top: 65px;
}

#n3_485 {
  float: left;
  height: 600px;
}

#n3_491 {
  margin: 0px 0px 0px 170px;
  float: left;
}

/* Rectangle 16 */
#n3_492 {
  width: 200px;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px;
}

#n3_493 {
  width: 200px;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px;
  margin-top: 52px;
}

#n3_1 {
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 50px;
}

#n3_447 {
  float: right;
  margin: 0px 25px 0px 25px;
  background: rgb(255, 255, 255);
  width: 180px;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px;
}

#n3_449 {
  margin: 9px 0px 0px 38px;
  font-size: 30px;
  vertical-align: middle;
  justify-content: flex-start;
}

#n3_448 {
  margin: 0px 70px 0px 0px;
  float: right;
  background: rgb(255, 255, 255);
  width: 180px;
  height: 50px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px;
}

#n3_450 {
  margin: 9px 0px 0px 38px;
  font-size: 30px;
  vertical-align: middle;
  justify-content: flex-start;
}

#n3_462 {
  height: 60px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.userInput {
  margin: 15px 0px 0px 45px;
  font-size: 130%;
  width: 100px;
}

.userInput:focus {
  background: aliceblue;
}